:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-button-focus-color: #188ce8;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --fone-color: #f5f4fa;
  --page-color: #ffffff;
  --auth-color: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --border-portfolio-card: #eeeeee;
  --social-link-color: #afb1b8;
  --hover-card-color: rgba(33, 150, 243, 0.9);
  --our-works-fone: rgba(47, 48, 58, 0.8);
  --modal-window-bgc: rgba(0, 0, 0, 0.2);
  --close-button-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--page-color);
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav-list,
.filter,
.auth-nav-list,
.header-container,
.benefits-list,
.all-works,
.h2-title-list,
.team-list {
  display: flex;
}

.benefits-list,
.all-works {
  flex-wrap: wrap;
  /* margin-bottom: -30px;
  margin-left: -30px; */
}

.benefits-list .list {
  width: 270px;
}
.all-works .list:not(:nth-child(3n)) {
  margin-right: 30px;
}
.all-works .list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.all-works .list {
  width: 370px;
  border-bottom: 1px solid var(--border-portfolio-card);
}

.h2-title-list .list {
  width: calc(100%-60) / 3;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list .list:not(:last-child),
.auth-nav-list .list:not(:last-child) {
  margin-right: 50px;
}
.auth-nav-list {
  margin-left: auto;
}

.nav,
.auth-nav,
.auth {
  text-decoration: none;
  display: block;
}
.nav,
.auth-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav-letter {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}
.auth-nav-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
}
.auth-nav {
  display: flex;
  align-items: center;
}

.nav.current {
  color: var(--accent-color);
  position: relative;
}

.nav,
.auth-nav,
.auth {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav-letter,
.auth-nav-tel {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover,
.nav:focus,
.auth-nav:hover,
.auth-nav:focus,
.auth:focus,
.auth:hover {
  color: var(--accent-color);
}

.auth-nav:hover .auth-nav-letter,
.auth-nav:focus .auth-nav-letter,
.auth-nav:hover .auth-nav-tel,
.auth-nav:focus .auth-nav-tel {
  fill: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.span-header {
  color: var(--title-color);
}

.header {
  display: block;

  z-index: 9;
  width: 100%;
  background-color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border);
}
.nav {
  color: var(--title-color);
}

.auth-nav {
  color: var(--text-color);
}

.auth {
  color: var(--auth-color);
}

.name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.position {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.h2-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.specific {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--fone-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.hero {
  color: var(--white-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.container-hero {
  justify-content: center;
  align-items: center;
}

.section-hero {
  margin: 0 auto;
  background-color: var(--background-color);
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team {
  background-color: var(--fone-color);
}

.main-button,
.button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.main-button {
  display: block;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  padding: 10px 32px;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 6px 22px;
}

.button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover,
.current-button,
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.main-button:focus,
.main-button:hover {
  background-color: var(--main-button-focus-color);
}

.button:focus,
.button:hover {
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title-description {
  color: var(--text-color);
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.benefits,
.clients,
.team {
  padding: 94px 0px;
}

.our-works {
  padding-bottom: 94px;
}

.team-list > .list {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 30px 32px;
}

.social-link-list {
  display: flex;
  justify-content: center;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.client-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus .client-list-icon,
.client-link:hover .client-list-icon {
  fill: var(--accent-color);
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-us-social-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-us-social-link-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  fill: var(--social-link-color);
}
.social-link:hover,
.social-link:focus,
.connect-us-social-link:hover,
.connect-us-social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--white-color);
}
.social-link-list-item {
  width: 44px;
  height: 44px;
}
.social-link-list-item:not(:last-child) {
  margin-right: 10px;
}
.h2-title-list-foto {
  display: block;
}

.benefits-list .list:not(:last-child),
.h2-title-list .list:not(:last-child),
.team-list > .list:not(:last-child) {
  margin-right: 30px;
}

.filter .list:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  margin-bottom: 50px;
  justify-content: center;
}

.all-works .title {
  margin-bottom: 4px;
}

.all-works .list {
  background: var(--page-color);
}
.all-works-container {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-card);
  border-top: 0;
}
.card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover,
.card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-link {
  text-decoration: none;
}
.clients-list {
  display: flex;
}
.clients-list-item {
  padding: 0;

  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 92px;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1 px solid var(--social-link-color);
  border-radius: 4px;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-list-icon,
.client-link:focus .client-list-icon {
  fill: var(--accent-color);
}

.client-link,
.client-link {
  border: 1px solid var(--social-link-color);
}

.span-footer {
  color: var(--white-color);
}

.footer-text {
  color: var(--white-color);
  margin-bottom: 9px;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address-list {
  margin-bottom: 9px;
}
.address {
  text-decoration: none;
  font-style: inherit;
}
.footer .logo {
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-connect-us {
  display: flex;
  flex-direction: column;
}
.connect-us-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  letter-spacing: 0.03em;
  vertical-align: top;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.connect-us-list {
  display: flex;
}
.connect-us-list-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.connect-us-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.footer-contacts {
  margin-right: 70px;
}
.connect-us-list-item:last-child {
  margin-right: 0;
}
.connect-us-social-link-icon {
  fill: var(--white-color);
}

.connect-us-list-item:hover,
.connect-us-social-link:focus {
  background-color: var(--accent-color);
}

.nav.current::after {
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.text-card-description {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.text-card {
  text-decoration: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-card-color);
  color: var(--white-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.card-link:focus .text-card,
.card-link:hover .text-card {
  transform: translateY(0);
  opacity: 1;
}
.our-works-description {
  position: relative;
  display: block;
}
.our-works-description-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}
.our-works-description-text-container {
  display: flex;
  position: absolute;
  background-color: var(--our-works-fone);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-window-bgc);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.close-modal-window {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window.is-hidden .modal {
  transform: rotate(300deg) scale(0.01);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
